<strong>Olá, {{provider}} </strong>
<p> Meus parabéns pela nova etapa!</p>
<p> Você acabou de realizar sua matrícula, confira os detalhes abaixo:  </p>
<p>
    <strong>Plano: </strong> {{plan}} <br/>
    <strong>Início: </strong> {{init}} <br/>
    <strong>Término: </strong> {{end}} <br/>
    <strong>Mensalidade: R$ </strong> {{price_monthly}},00<br/>
    <strong>Total: R$ </strong> {{price}},00 <br/>
    <br/>
    <small>
        "O sucesso está presente naquele que, mesmo sob uma coroa de espinhos, segue á diante. Qual é a sua coroa?"
    </small>
</p>
